<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.mdh.se/dva501/testsuite/TestSuite"
			class = "se.mdh.dva501.testsuite.testSuite.TestSuitePackage"
			genModel = "model/generated/TestSuite.genmodel" />
	</extension>
</plugin>
